spring:
  application:
    name: delivery-backend

  profiles:
    active: local

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 1000

  liquibase:
    enabled: true
    change-log: classpath:db/db.changelog-master.yaml
